.center > a:hover, .center > a:active {
    text-decoration: none;
}
.center {
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    float: left;
}

.amount {
    font-size: 14px;
    font-family: 'Concert One', cursive;
    padding: 5px;
}

table .tr-odd {
    background: rgba(165, 154, 114, 0.15);
}
.buy-box{
    background: url('../images/ltr-box2.png') no-repeat;
    width: 385px;
    height: 67px;
}
.buy-box:hover {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.buy-box img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 17px;
}