RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]	
RewriteRule ^yapimci$ https://nuya2.com [L,NC]
Redirect 301 /kayit/ https://nuya2.com/register/