<rule name="rule 1y" stopProcessing="true">
  <match url="^(.*)$"  />
  <conditions>
	<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
	<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
  </conditions>
  <action type="Rewrite" url="/index.php?url={R:1}"  appendQueryString="true" />
</rule>
<rule name="rule 2y" stopProcessing="true">
	<match url="^yapimci$"  ignoreCase="true" />
	<action type="Rewrite" url="/https://nuya2.com"  />
</rule>
