html,
body {
	min-height: 100%;
}

.group-block {
	position: relative;
}

.copy-icon {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem;
	color: #6c757d;
	cursor: pointer;
}

.copy-icon:hover {
	color: #0d6efd;
}

.tiny-font {
	font-size: 8px;
	font-weight: 500;
}

@media (max-width: 600px) {
	#table-w-capture {
		font-size: 0 !important;
	}
}

.sorting_1 {
	background-color: #f5f2f0 !important;
	position: relative;
	padding: 10px 10px 0px 30px !important;
}
[data-bs-theme="dark"] .sorting_1 {
	background-color: #242e39 !important;
}
.sorting_1::before {
	content: "\f14e";
	font-family: 'bootstrap-icons';
	position: absolute;
	top: 10px;
	left: 5px;
}

/* Black Theme */
[data-bs-theme="dark"] body {
	background-color: #222222 !important;
	color: #222 !important;
}
[data-bs-theme="dark"] header {
	background-color: #111111 !important;
}
[data-bs-theme="dark"] .form-select:focus,
[data-bs-theme="dark"] .form-control:focus {
	border-color: #fa793e;
	box-shadow: 0 0 0 0.25rem #fa793e30;
}
[data-bs-theme="dark"] .ts-control,
[data-bs-theme="dark"] .ts-wrapper.single.input-active .ts-control,
[data-bs-theme="dark"] .ts-dropdown {
	background: #212529 !important;
	border-color: #495057 !important;
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius) !important;
	color: #ccc !important;
}
[data-bs-theme="dark"] .ts-control.focus,
[data-bs-theme="dark"] .ts-dropdown.focus,
[data-bs-theme="dark"] .ts-wrapper.focus {
	background: #212529 !important;
	border-color: #fa793e !important;
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius) !important;
	color: #ccc !important;
	box-shadow: 0 0 0 0.25rem #fa793e30 !important;
}
[data-bs-theme="dark"] .ts-dropdown,
[data-bs-theme="dark"] .ts-control,
[data-bs-theme="dark"] .ts-control input {
	color: #fff !important;
}
[data-bs-theme="dark"] .dataTables_info,
[data-bs-theme="dark"] .dataTables_length,
[data-bs-theme="dark"] .dataTables_filter {
	color: #fff !important;
}
[data-bs-theme="dark"] .ts-dropdown .active {
	background-color: #111 !important;
	color: #fff;
}
[data-bs-theme="dark"] .tom-select .selectize-dropdown {
	background-color: #222; /* Dark dropdown background color */
	color: #fff; /* Light text color for dropdown items */
}
[data-bs-theme="dark"] .card {
	background-color: #333 !important;
}
[data-bs-theme="dark"] pre {
	background: #111 !important;
	color: #fff !important;
}
[data-bs-theme="dark"] pre[class*="language-"],
[data-bs-theme="dark"] code[class*="language-"] {
	color: #fff !important;
	text-shadow: none !important;
}
[data-bs-theme="dark"]  .modal-header {
	color: #fff !important;
}
[data-bs-theme="dark"] .accordion-button:not(.collapsed) {
	background-color: #fa793e !important;
	border-color: #fa793e !important;
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius) !important;
	color: #fff !important;
	box-shadow: 0 0 0 0.25rem #fa793e30 !important;
}
[data-bs-theme="dark"] .accordion-body {
	color: #ccc !important;
}
